{% extends "base.html" %}

{% block content %}


<body>
  <section id="account_section" class="content-section" style="background-image: url('/assets/img/background-img-gray.png'); background-size: cover;background-position: top;">
<div class="container" style="color: #ffffff;">

<h2>{{ welcome }}!</h2>
<div class="form-group">
  <button class="btn" style= "text-transform: unset; color:#42dca3; font-size: 24px;" id="openModal2" type="button" data-toggle="modal" data-target="#bridge-change-list"> Save your known words so that you can make searches faster
              </button>

</div>

<div class="form-group">
<button class="btn" style= "color:#42dca3; text-transform: unset; font-size: 24px;" onclick="location.href = '/account/search/'">Make a search based on your known words </button>
</div>
<div class="form-group">
You can request permisson to import texts from <a  href="https://docs.google.com/forms/d/e/1FAIpQLSfqSe8ynZjkNF2yitncOJ2vd82kFK5kABYMUR-pWywfdyEtgA/viewform?embedded=true#start=embed">Bret Mulligan</a>
</div>
<div class="form-group">
If you already have access, you can upload <a href="/account/import"> texts </a> and <a href="/account/addwords"> languages </a>
</div>
<div class="form-group">
<button class="btn" style="color:#42dca3; text-transform: unset;" onclick="location.href = '/account/logout/'">Logout</button>
</div>


</div>


<!-- the second tab from select/oracle-->
<div class="modal fade" role="dialog" tabindex="-1" id="bridge-change-list">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: black;"> add to my known texts</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button></div>
            <div class="modal-body" style="padding: 25px;padding-bottom: 30px;">
                <form id="bridge-modal-form2" action="/account/update_my_words/" method = "post" style="color: black;">
                  <div>
                    <div class="form-group"><label style="color: black;" for="chosen_text">
                        What have you read?</label>
                        <div class="dropdown">
                          <button type="button" onclick="myFunction('myDropdown')" id = "chosen_text" class="form-control">Click Me</button>
                          <div id="myDropdown" class="dropdown-content" style="color: black;">
                            <input type="text" placeholder="Search..." id="myInput" name="text" onkeyup="filterFunction('myInput', 'myDropdown')">
                          {{ texts|safe }}
                          </div>
                        </div>

                          </div>

                          <div class="form-group" id="bridge-modal-form2-select2-hidden-div">
                              <label id="bridge-modal-form2-select1-hidden-label" style="color: black;" for="select1-hidden-field">
                                  Which language is it in?</label>
                              <div class="form-row">
                                  <div class="col"><input class="form-control" type="text" id="language" name = "language" style="color: black;" for="select1-hidden-label" placeholder="Latin or Greek" required=""></div>
                              </div>
                          </div>
                        <div class="form-group" id="bridge-modal-form2-select2-hidden-div">
                            <label id="bridge-modal-form2-select2-hidden-label" style="color: black;" for="select2-hidden-field">
                                Please select the section(s).</label>
                            <div class="form-row">
                                <div class="col"><input class="form-control" type="text" id="start" name = "start" style="color: black;" for="select2-hidden-label" placeholder="From" required=""></div>
                                <div class="col"><input class="form-control" type="text" id="end" name = "end" style="color: black;" for="select2-hidden-label" placeholder="To" required=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-bottom: 25px;padding-right: 20px;padding-left: 20px;">
                        <button class="btn btn-light" type="button" data-dismiss="modal" style="border-radius: 35px;">
                            Close</button>
                        <input class="btn btn-primary" id="bridge-modal-form2-save" type="submit" style="border-radius: 35px;" value = "Submit">
                            </input></div>
                </form>
            </div>

        </div>
    </div>
</div>
</section>
</body>

{% endblock %}
