{% extends "base.html" %}

{% block content %}

<title>The Bridge: About</title>

<body>
      <section class="content-section">
        <div class="container">

<h3>Bridge/Lemmatizer</h3>
<p style="padding-left: 30px;"><a href="https://bridge.haverford.edu/lemmatize"><strong>Bridge/Lemmatizer</strong></a>&nbsp;allows you to&nbsp;create a lemmatization spreadsheet for a Latin or Greek text. &nbsp;The lemmatizer will automatically lemmatize only those words whose forms match a single dictionary lemma, leaving the rest for you to complete by hand (unambiguous lemmatization). You can select the format of the lemmata (Morpheus or Bridge).&nbsp;</p>

<h3>Quickstart Guide to Lemmatization</h3>
<p style="padding-left: 30px;"><a href="https://bridge.haverford.edu/help/lemmatize">A quick guide to lemmatization</a> (from a lemmatization sheet to completed data).</p>

<h3>Data</h3>
<p style="padding-left: 30px;"><a href="https://github.com/GitClassical/Bridge">Git-Classical/Bridge</a>: a public Github repository with the vocabulary data for textbooks and core lists. [<a href="https://github.com/GitClassical/Bridge">https://github.com/GitClassical/Bridge</a>]</p>

<h3>Creating Efficient and Accurate Vocabulary Lists</h3>
<p style="padding-left: 30px;">An&nbsp;<a href="https://www.dropbox.com/s/5a2lggavbirn0po/Lemmatization_Instructions_Public.pdf?dl=0">in-depth, step-by-step guid&nbsp;to&nbsp;vocabulary list creation</a>, from lemmatization to print or digital publication.</p>

<h3>Open-Source Commentary Platform</h3>
<p style="padding-left: 30px;"><a href="http://iris.haverford.edu/sandbox/">CommentarySandbox</a> is an open-source Wordpress plugin that allows you to create DCC-style commentaries with the ease of Wordpress.</p>
</div>
</section>
</body>
{% endblock %}
