<form class="form" action="/addingwords/" method="post" enctype= "multipart/form-data">
  <div
<label style="color: rgb(33,32,32);">
  What language are we adding to? (please capitalize) </label>
<input class="form-control" type="text" name = "language" placeholder="Language">
</div>

<div
<label style="color: rgb(33,32,32);" for = "file">
  Please add a file here </label>
  <input type="file" id = "file" name = "file" accept=".csv">
    </div>
  <input type="submit" name="submit" value="submit">
</form>
