{% extends "base.html" %}


{% block content %}
<body>
  <section class="container text-center" style = "height: auto; padding-top: 150px; background-position: bottom; background-size: cover;">

<form class="form" action="/account/addingwords/" method="post" enctype= "multipart/form-data">
  <div class="form-group"
<label for="language">
  What language are we adding to? (please capitalize) </label>
<input class="form-control" type="text" id = "language" name = "language" placeholder="Language">
</div>

<div class="form-group"
<label  for = "file">
  Please add a file here </label>
  <input type="file" id = "file" name = "file" accept=".csv">
    </div>
  <input type="submit" name="submit" value="submit">
</form>

</section>
</body>

{% endblock %}
