{% extends "base.html" %}
{% block content %}
<style>
    .btn {
        border: 1px;
        border-color: white;
        border-radius: 35px;
        border-style: solid;
        color: #ffffff;
        font-size: 20px;
        font-family: Actor, sans-serif;
        margin-right: 10px;
        margin-left: 10px;
        width: 120px;
    }
</style>

<body id="page-top" style="background-color: #4a4e50;">
    <header class="masthead" style="background-image: url('/assets/img/intro-bg.jpg'); background-size: cover;filter: grayscale(0%);background-position: bottom;">
        <div class="intro-body" style="background-color: rgba(60,62,64,0.6);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto" style="opacity: 1;padding: 15px 20px;">
                        <p class="intro-text" style="font-family: Cabin, sans-serif;font-size: 60px;margin-bottom: 30px;font-weight: normal;">ORACLE</p>
                        <p class="intro-text" style="font-family: Actor, sans-serif;font-size: 22px;color: #ffffff;margin-bottom: 15px;font-weight: normal;font-style: normal;">
                            Select a language and get started!</p>
                        <a class="btn" role="button" data-bs-hover-animate="pulse" style="background-color: rgba(125,232,194,0.75);" href="/oracle/Greek/">
                            GREEK</a>
                        <a class="btn" role="button" data-bs-hover-animate="pulse" style="background-color: rgba(232,131,125,0.75);" href="/oracle/Latin/">
                            Latin</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
{% endblock %}
