{% extends "base.html" %}
{% block content %}
<style>
.btn {
    border: 1px;
    border-color: white;
    border-radius: 35px;
    border-style: solid;
    color: #ffffff;
    font-size: 20px;
    font-family: Actor, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    width: 120px;
}
</style>

<body id="page-top" style="background-color: #4a4e50;">
    <header class="masthead" style="background-image: url('/assets/img/background-img-gray.png') ;background-size: auto; background-position: top;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto" style="opacity: 1;padding: 15px 20px;">
                    <!-- To access more languages, simply add a button for them that redirects to /select/Language. add a dictionary and a list of texts, and it is supported-->
                        <p class="intro-text" style="font-family: Cabin, sans-serif;font-size: 34px;margin-bottom: 45px;font-weight: normal;">
                            Customize your Greek and Latin vocabulary lists</p>
                        <p class="intro-text" style="font-family: Actor, sans-serif;font-size: 22px;color: #ffffff;margin-bottom: 15px;font-weight: normal;font-style: normal;">
                            Select a language and get started!</p>
                        <a class="btn" role="button" data-bs-hover-animate="pulse" style="background-color: rgba(125,232,194,0.75);" href="/Greek/select/">
                            Greek</a>
                        <a class="btn" role="button" data-bs-hover-animate="pulse" style="background-color: rgba(232,131,125,0.75);" href="/Latin/select/">
                            Latin</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact us</h2>
                    <p>Feel free to leave us a comment to give some feedback about this app!</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">&nbsp; Google+</span></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-twitter fa-fw"></i><span class="network-name">&nbsp;Twitter</span></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
