
{% extends "base.html" %}


{% block content %}
<title>The Bridge: Lemmatizer</title>
<body id="body" data-title="index" class = "home">
	<section class="content-section" style="background: url('/assets/img/background-img-gray.jpg') fixed center center no-repeat; background-size: cover;background-position: top;">
		<div class="container" style = "text-align:left; width: 80%; background-color:rgb(28,28,28,.7); padding: 20px;">

<p style = "font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;">With Bridge/Lemmatizer you can create a lemmatization spreadsheet for any Latin or Greek text. To begin, either upload a .txt file or just paste the text. Lemmatizer will match all the words that have only one possible lemma, and will return a csv file for you to complete. All you have to do is disambiguate the remaining words and you have a fully lemmatized text. You can also add custom definitions and/or principal parts! </p>


<form id="post_text" style="display:inline-block;" method="post" action="Lemmatizer" enctype="multipart/form-data">
	<div id="PostBlock">
		<div class="form-group">
			<label for="text"> 1. Paste plain text to lemmatize below or upload a .txt file </label>	<br>
			<textarea name="text" id="text" rows="8" cols="80"></textarea>	<br>
		</div>

<div class="form-group">
		<div class="custom-file">
	 <input type="file" class="custom-file-input" accept = ".txt" name = "file" id="file">
	 <label class="custom-file-label" id = "file_lable" for="customFile">Choose file</label>
 		</div>
		</div>
		<br>

		<div class="form-group">
			<label for="language">2. Tell us what language the text is in</label> <br>
			<select name="language" id = "language"  class="form-control">
			  <option>Latin</option>
			  <option>Greek</option>
			</select>
			<br>
		</div>
		<div class="form-group">
			<label for="poetry">3. Does this text use line breaks for locations? (i.e, is it a poem, play, or song?)</label> <br>
			<select name="poetry" id = "poetry"  class="form-control">
				<option>Yes</option>
				<option>No</option>
			</select>
			<br>
		</div>
		<div class="form-group">
			<label for="radios">4. In which format would you like your lemmata?</label> <br>
			<select name="format" id="format" class="form-control">
				<option>Bridge</option>
				<option>Morpheus</option>
			</select>
			<br>
		</div>

		<div class="form-group">
			<label for="resulting_filename">5. What do you want your csv file to be called? </label> <br>
			<input type="text" name="resulting_filename" id="resulting_filename" value="">
			<br>
		</div>
		<input class= "btn btn-primary" type="submit" name="submit" value="Lemmatize!">
					<br>
 		</form>

				</div>
  	</section>
		<script type="text/javascript">
			var el = document.getElementById("file")
			var lab = document.getElementById("file_lable")
			var onFileAdd= function(){

				lab.innerText = `You chose: ${el.value}`;
			}
			el.oninput = onFileAdd;
		</script>
{% endblock %}
