<!--This would be really cool if it was just a pop-up from clicking the "login" button in the navbar instead of it's own page. -->
<form id = "login form" action="/token" method="post" enctype= "multipart/form-data">
        Sign in to you existing account.
        <br>
        Don't have an account? <a role="button" href="/signup" >Sign Up</a>
        <br>
        <input type="text" id = "oauth_username" name="username" data-name="username"  value="">
        <br>
        <input type="password" id = "oauth_password" name="password" data-name="password" value="">
        <br>
        <input type="submit" id = "submit" name="submit" value="submit">
</form>
