<nav class="navbar navbar-light navbar-expand-md fixed-top navigation-clean-button" id="main-nav" role="navigation" aria-label="Main navigation" style="padding: 5px; background-color: #fff">
  <div class="container">
    <a class="navbar-brand" href="/" aria-label="Bridge - Home" style="width: 250px; padding-top: 0"><img src="/assets/img/bridge-text-white.png" alt="Bridge Logo" style="filter: grayscale(0%); opacity: 1; width: 100%" /></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" aria-expanded="false" aria-controls="navcol-1" aria-label="Toggle navigation menu"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" style="background: white" id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">APPS</a>
          <div class="dropdown-menu" role="menu" aria-label="Apps submenu">
            <a class="dropdown-item" role="menuitem" href="/select">Lists</a>
            <a class="dropdown-item" role="menuitem" href="/lemmatizer/">Lemmatizer</a>
            <a class="dropdown-item" role="menuitem" href="/stats">Stats</a>
            <a class="dropdown-item" role="menuitem" href="/oracle">Oracle</a>
            <a class="dropdown-item" role="menuitem" href="/demacronizer">Demacronizer</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">ABOUT</a>
          <div class="dropdown-menu" role="menu" aria-label="About submenu">
            <a class="dropdown-item" role="menuitem" href="/about">Apps & Project</a>
            <a class="dropdown-item" role="menuitem" href="http://iris.sites.haverford.edu/?cat=2">Blog</a>
            <a class="dropdown-item" role="menuitem" href="/about/people">People</a>
            <a class="dropdown-item" role="menuitem" href="/about/texts">Texts</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://www.haverford.edu/classics">HAVERFORD CLASSICS</a>
        </li>

        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">HELP</a>
          <div class="dropdown-menu" role="menu" aria-label="Help submenu">
            <a class="dropdown-item" role="menuitem" href="/help/user_guide/">User Guide</a><a class="dropdown-item" role="menuitem" href="http://iris.sites.haverford.edu/?cat=3">Updates</a><a class="dropdown-item" role="menuitem" href="/help/collaborate">Collaborate</a><a class="dropdown-item" role="menuitem" href="/help/lemmatize">Lemmatization</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfqSe8ynZjkNF2yitncOJ2vd82kFK5kABYMUR-pWywfdyEtgA/viewform?embedded=true#start=embed">CONTACT</a>
        </li>
      </ul>

      <span class="navbar-text actions" id="navbar-auth" role="navigation" aria-label="User account">
        <span id="navbar-logged-in" style="display:none;">
          <a class="btn btn-nonbs" role="button" href="/userspace" aria-label="Go to MySpace - manage your vocabulary lists" style="background-color:#228383;color:#fff; font-family: inherit">MySpace</a>
          <a class="text-uppercase login btn-nonbs" href="/account/settings" aria-label="Account settings">Settings</a>
          <a class="text-uppercase login btn-nonbs" href="/account/logout" aria-label="Log out of your account">Logout</a>
        </span>
        <span id="navbar-logged-out" style="display:none;">
          <a class="text-uppercase login btn-nonbs" href="/account/login" aria-label="Log in to your account">Log In</a>
          <a class="btn btn-nonbs" role="button" href="/account/signup" aria-label="Sign up for a new account" style="background-color:#228383;color:#fff; font-family: inherit">Sign Up</a>
        </span>
      </span>
      <script>
        fetch('/account/protected', { credentials: 'include' })
          .then((resp) => {
            if (!resp.ok) throw new Error('Not authenticated')
            return resp.json()
          })
          .then((data) => {
            console.log('User data:', data)
            document.getElementById('navbar-logged-in').style.display = ''
            document.getElementById('navbar-logged-out').style.display = 'none'
          })
          .catch((err) => {
            console.log('User is not authenticated or got HTML:', err.message)
            document.getElementById('navbar-logged-in').style.display = 'none'
            document.getElementById('navbar-logged-out').style.display = ''
          })
      </script>
    </div>
  </div>
</nav>
