{% extends "base.html" %}

{% block content %}

<section style="padding-top:100px;"  class="text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Meet Our Team</h2>
    <!-- Section description -->
    
      <h4>Project Directors</h4>
    <!-- Grid row -->
    <div class="row text-center">
       
      <!-- Bret -->
      <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
        
        <div class="avatar mx-auto">
          <img src="https://www.haverford.edu/sites/default/files/styles/profile_thumbnail/public/Bret_Mulligan_teaching_photo_0-1.jpg" class="rounded-circle z-depth-1 img-fluid" style="max-width: 300px" 
            alt="Picture of Mulligan">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3"><a href="https://www.haverford.edu/users/bmulliga">Bret Mulligan</a></h5>
        <p class="text-uppercase blue-text"><strong>Project Director</strong></p>
        <p class="grey-text">Associate Professor of Classics, Haverford College</p>
       
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://pbs.twimg.com/profile_images/1271925221411430400/g5_yoWof_400x400.jpg" class="rounded-circle z-depth-1 img-fluid" style="max-width: 300px" 
            alt="Picture of Janco">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3"><a href="https://apjan.co/">Andrew Janco</a></h5>
        <p class="text-uppercase blue-text"><strong>Co-Project Director</strong></p>
        <p class="grey-text">Digital Scholarship Librarian, Haverford College</p>
        
      </div>
      <!-- Grid column -->
  
  
     
  
    </div>
    <!-- Grid row -->
  
    <h4>Current Contributors</h4>
    <!-- Grid row -->
    <div class="row">
       
      <!-- Grid column -->
      <div class="col-lg-12 col-md-12 mb-lg-0 mb-5 text-centered">
        
        <div class="avatar mx-auto">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEuutEcRLFrhg/profile-displayphoto-shrink_400_400/0/1599946106176?e=1617235200&v=beta&t=Ir_Ip9lN6CmyxEU3E0aAOHyo0-Q9PNc4bFvIBV6G9ZU" class="rounded-circle z-depth-1 img-fluid" style="max-width: 300px""
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3"><a href="https://www.haverford.edu/users/gshukla">Gulesh Shukla</a></h5>
        <p class="text-uppercase blue-text"><strong>Digital Scholarship Student Worker</strong></p>
        
      </div>
    </div>
      <!-- Grid column -->
      <div class="row text-centered">
        <div class="col-lg-12 col-md-12 mb-lg-0 mb-5 text-centered">
            <hr>
            <h4>Advisory Board</h4>

        <ul style="list-style-type:none;">
            <li><p><a href="https://people.ischool.berkeley.edu/~dbamman/">David Bamman</a>, University of California, Berkeley</p></li>
            <li><p><a href="https://utexas.academia.edu/PatrickJBurns">Patrick J Burns</a>, University of Texas-Austin</p></li>
            <li><p><a href="https://www.cipolyglot.com/about">Neil Corrigan</a>, cipolygot.com</p></li>
            <li><p><a href="https://www.dickinson.edu/site/custom_scripts/dc_faculty_profile_index.php?fac=francese>Christopher Francese</a>, Dickinson College</p></li>
            <li><p><a href="https://www.haverford.edu/users/eevans">Elizabeth Evans</a>, Liberal Arts Consortium for On-Line Learning</p></li>
            <li><p><a href="https://stellafritzell.digital.brynmawr.edu">Stella Fritzell</a>, Bryn Mawr College</p></li>
            <li><p><a href="https://apps.carleton.edu/profiles/chardy/">Clara Hardy</a>, Carleton College</p></li>
            <li><p><a href="https://libatique.info">Daniel Libatique</a>, College of Holy Cross</p></li>
            <li><p><a href="https://www.linkedin.com/in/emily-lewis-8478534b">Emily Lewis</a>, South Lakes High School</p></li>
            <li><p><a href="https://classics.fas.harvard.edu/people/ivy-livingston-0">Ivy Livingston</a>, Harvard University</p></li>
            <li><p><a href="https://www.uliege.be/cms/c_9054334/en/directory?uid=u203377">Dominique Longrée</a>, Liège Université</p></li>
            <li><p><a href="https://lerner.udel.edu/faculty-staff-directory/adrienne-lucas/">Adrienne Lucas</a>, University of Delaware</p></li>
            <li><p><a href="https://www.linkedin.com/in/hugh-mcelroy-9a1699138">Hugh McElroy</a>, The Field School</p></li>
            <li><p><a href="https://www.swarthmore.edu/profile/william-turpin">William Turpin</a>, Swarthmore College</p></li>
        </ul>
    </div>
        </div>
      </div>

   <!-- Grid column -->
   <div class="row text-centered">
    <div class="col-lg-12 col-md-12 mb-lg-0 mb-5 text-centered">
        <hr>
        <h4>Past Developers and Contributors
        </h4>
                
    <div class="container">
        <div class="row">
             <div class="col">
                <ul style="list-style-type:none;">
               <li><p>Carter Langen '22</p></li>
               <li><p>Samuel Tan ‘23</p></li>
                <li><p>Aleena Maryam ‘21</p></li>
                 <li><p>Jack Raisel '17</p></li>
                 <li><p>James Faville ‘19</p></li>
                <li><p>Julie Ta '16</p></li>
                <li><p>Laurie Allen (Coordinator for Digital Scholarship and Services)</p></li>
                <li><p>Michael Zarafonetis (Digital Scholarship Librarian)</p></li>
                </ul>
             </div>
            <div class="col">
                <ul style="list-style-type:none;">
                <li><p>Fiona Xu ‘21</p></li>
                <li><p>Dylan Emery ‘19</p></li>
                 <li><p>Noor Fatima ‘21</p></li>
                 <li><p>Byron Biney '19 Swarthmore</p></li>
                  <li><p>Blair Rush '16</p></li>
                 <li><p>Margaret Schaus (Lead Research and Instruction Librarian)</p></li>
                 <li><p>Jennifer Rajchel (Assistant Director, Tri-Co Digital Humanities)</p></li>
                  <li><p>Archana Kaku (Tri-Co Digital Humanities Program Coordinator, Bryn Mawr College)</p></li>
                </ul>
            </div>
        </div>
        
</div>
    </div>
  </div>

  <div class="row text-centered">
    <div class="col-lg-12 col-md-12 mb-lg-0 mb-5 text-centered">
        <hr>
        <h4>Additional Credits
        </h4>

  <p>The project has been made possible by a legion of contributors who have worked to lemmatize texts; these are credited in the individual entries on the <a href="/about/texts">“About Texts” page</a>.</p>
          Data for some ancient texts were generously provided by the&nbsp;<a href="http://www.cipl.ulg.ac.be/Lasla/index.html">Laboratoire d'Analyse Statistique des Langues Anciennes</a>&nbsp;at the Université de Liège.
The image on the landing page of The Bridge is of the <a href="https://en.wikipedia.org/wiki/Pont_du_Gard#/media/File:Pont_du_Gard_BLS.jpg">Pont du Gard</a> by Benh LIEU SONG under a <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a> license. The Bridge and its byproducts are licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
  <p style="padding-left: 40px;">&nbsp;</p>
      
      </div></div>    
  
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Team v.1 -->

{% endblock %}
