{% extends "base.html" %}


{% block content %}
<style>
.myBtn {
    color: #7de8c2;
    border-radius: 50%;
    border-color: #7de8c2;
    border: solid 2px;
    margin: 0px 5px;
    background-color: rgba(43,45,47,0.7);
    font-size: 18px;
    width: 43px;
    height: 43px;
    padding: 5px;
}
</style>
<body>
    <section id="oracle-select" class="content-section" style = "background-color: rgba(10,17,20,0.8); height: auto; padding-top: 150px; background-image: url('/assets/img/intro-bg.jpg'); background-position: bottom; background-size: cover;">
        <div class="container" style="color: #ffffff;">
            <div class="tab-oracle">

                <div class="row" style="margin-bottom: 30px;">
                    <div class="col" style="background-color: rgba(43,45,47,0.7);border-radius: 5px;">
                        <div class="row">
                            <div class="col-xl-7">
                                <h4 style="padding: 10px;margin-bottom: 10px;margin-top: 30px;margin-right: 60px;">Select a text to explore</h4>
                            </div>
                        </div>
                        <div id="oracle-result">
                            <div class="table-responsive" style="margin-bottom: 50px;">
                                <table class="table" id="oracle-result-table1">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase" style="color: #ffffff;font-family: Actor, sans-serif;">WORK</th>
                                            <th class="text-uppercase" style="color: rgb(255,255,255);font-family: Actor, sans-serif;">Section(s)</th>
                                            <th style="width: 20%;color: #e8837d;font-family: Actor, sans-serif;">CLEAR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-oracle">
                <div class="row" style="margin-bottom: 50px;margin-top: 30px;">
                    <div class="col" style="background-color: rgba(43,45,47,0.7);border-radius: 5px;">
                        <div class="row">
                            <div class="col-xl-7">
                                <h4 style="padding: 10px;margin-bottom: 10px;margin-top: 30px;margin-right: 60px;">Define known vocabulary</h4>
                            </div>
                        </div>
                        <div>
                            <div class="table-responsive" style="margin-bottom: 50px;">
                                <table class="table" id="oracle-result-table2">
                                    <thead style="/*border-radius: 10px;*/">
                                        <tr>
                                            <th class="text-uppercase" style="color: #ffffff;font-family: Actor, sans-serif;">Book</th>
                                            <th class="text-uppercase" style="color: rgb(255,255,255);font-family: Actor, sans-serif;">Section(s)</th>
                                            <th style="width: 20%;color: #e8837d;font-family: Actor, sans-serif;">CLEAR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--buttons-->
            <div>
                <div class="row" style="margin-bottom: 50px;margin-top: 30px;">
                    <div class="col d-flex justify-content-center align-items-center" id="page-buttons-oracle" style="background-color: rgba(43,45,47,0.7);border-radius: 5px;padding: 15px;">
                        <button class="myBtn" id="myPrev-oracle" type="button" >
                            <i class="fas fa-angle-double-left"></i></button>
                        <button class="myBtn" id="openModal1-oracle" type="button" data-toggle="modal" data-target="#oracle-select-text">
                            <i class="fas fa-plus" style="font-size: 16px;"></i></button>
                        <button class="myBtn" id="openModal2-oracle" type="button" data-toggle="modal" data-target="#oracle-define-vocab">
                            <i class="fas fa-plus" style="font-size: 16px;"></i></button>
                        <button class="myBtn" id="myNext-oracle" type="button">
                            <i class="fas fa-angle-double-right"></i></button></div>
                </div>
            </div>
            <div style="text-align:center;margin-top:40px;"><span class="step"></span><span class="step"></span></div>
        </div>
        <!--Modal1-->
        <div class="modal fade" role="dialog" tabindex="-1" id="oracle-select-text">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black;">Select work</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button></div>
                    <div class="modal-body" style="padding: 25px;padding-bottom: 30px;">
                        <form id="oracle-modal-form1">
                            <div>
                              <div class="form-group"><label style="color: black;" for="chosen_text">
                                  Please select the work(s) you have read.</label>
                                  <div class="dropdown">
                                    <button type="button" onclick="myFunction('myDropdown')" id = "chosen_text" class="form-control">Click Me</button>
                                    <div id="myDropdown" class="dropdown-content" style="color: black;">
                                      <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction('myInput', 'myDropdown')">
                                      {% for name in book_name %}
                                      <a onclick="add_text('{{ name }}', 'myDropdown')"> {{name}} </a>
                                      {% endfor %}
                                    </div>
                                  </div>

                                    </div>
                                <div class="form-group" id="oracle-modal-form1-select2">
                                    <label id="oracle-modal-form1-select2-hidden-label" style="color: black;" for="select2-hidden-field">Please select range to explore and the section size.</label>
                                    <div class="form-row">
                                        <div class="col"><input class="form-control" type="text" id="oracle-modal-form1-select2-hidden-field1" style="color: black;" for="select2-hidden-label" placeholder="start" required></div>
                                          <div class="col"><input class="form-control" type="text" id="oracle-modal-form1-select2-hidden-field2" style="color: black;" for="select2-hidden-label" placeholder="end" required></div>
                                            <div class="col"><input class="form-control" type="text" id="oracle-modal-form1-select2-hidden-field3" style="color: black;" for="select2-hidden-label" placeholder="9"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="padding-bottom: 25px;padding-right: 20px;padding-left: 20px;"><button class="btn btn-light" type="button" data-dismiss="modal" style="border-radius: 35px;">Close</button><button class="btn btn-primary" id="oracle-modal-form1-save" type="button" style="border-radius: 35px;">Save</button></div>
                </div>
            </div>
        </div>
        <!--Modal2-->
        <div class="modal fade" role="dialog" tabindex="-1" id="oracle-define-vocab">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black;">Customize my list</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button></div>
                    <div class="modal-body" style="padding: 25px;padding-bottom: 30px;">
                        <form id="oracle-modal-form2">
                            <div class="form-group">
                                <label style="color: rgb(14,14,14);">Please select a way to define known vocabulary</label>
                                <div>
                                    <input type='radio' name='method' onchange='hideBridge(this)'>
                                        <label style='color:black; padding:5px'>import list of titles from my computer (Not implemented yet) </label>
                                    <input type='radio' name='method' onchange='hideComputer(this)'>
                                        <label style='color:black; padding:5px'>select text from Bridge </label>
                                </div></div>
                            <div id="computer" style="display:none">
                                <div class="form-group"><label style="color: rgb(33,32,32);">
                                    Please either upload a file, or directly copy and paste your list into the text field below</label>
                                    <input type="file"><input class="form-control" type="text" placeholder="You may copy your list and paste here"></div>
                            </div>
                            <div id="bridge" style="display:none">
                              <div class="form-group"><label style="color: black;" for="chosen_text">
                                  Please select the work(s) you have read.</label>
                                  <div class="dropdown">
                                    <button type="button" onclick="myFunction('myDropdown2')" id = "chosen_text2" class="form-control">Click Me</button>
                                    <div id="myDropdown2" class="dropdown-content" style="color: black;">
                                      <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction('myInput2', 'myDropdown2')">
                                      {% for name in book_name %}
                                    <a onclick="add_text('{{ name }}', 'myDropdown2')"> {{name}} </a>
                                      {% endfor %}
                                    </div>
                                  </div>

                                    </div>
                                <div class="form-group">
                                    <label style="color: black;" for="select2">
                                        Do you want to specify the section(s) of the book?</label>
                                        <select class="form-control" id="oracle-modal-form2-select2">
                                            <optgroup label="Please select"><option value="yes" selected="">Yes</option>
                                                <option value="no" selected="">No</option>
                                            </optgroup></select></div>
                            <div class="form-group" id="oracle-modal-form2-select2-hidden-div">
                                <label id="oracle-modal-form2-select2-hidden-label" style="color: black;" for="select2-hidden-field">
                                    Please select the section(s).</label>
                                <div class="form-row">
                                    <div class="col"><input class="form-control" type="text" id="oracle-modal-form2-select2-hidden-field1" style="color: black;" for="select2-hidden-label" placeholder="From" required=""></div>
                                    <div class="col"><input class="form-control" type="text" id="oracle-modal-form2-select2-hidden-field2" style="color: black;" for="select2-hidden-label" placeholder="To" required=""></div>
                                </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer" style="padding-bottom: 25px;padding-right: 20px;padding-left: 20px;"><button class="btn btn-light" type="button" data-dismiss="modal" style="border-radius: 35px;">Close</button><button class="btn btn-primary" id="oracle-modal-form2-save" type="button" style="border-radius: 35px;">Save</button></div>
        </div>
        </div>
        </div>
    </section>
    <script src="/assets/js/select-vocab-step-form-oracle.js"></script>

</body>
{% endblock %}
