{% extends "base.html" %}
{% block content %}
<body id="page-top">
    <header class="masthead" style="background-image: url('/assets/img/stats_background_2.jpg') ;background-size: cover;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto" style="opacity: 1;padding: 15px 20px;">
                    <!-- To access more languages, simply add a button for them that redirects to /select/Language. add a dictionary and a list of texts, and it is supported-->
                        <p class="intro-text" style="font-family: Cabin, sans-serif;font-size: 34px;margin-bottom: 45px;font-weight: normal;">
                            Select a mode to get started!</p>
                        <a class="btn btn-nonbs select-btn" role="button" data-bs-hover-animate="pulse" style="background-color: rgb(254,174,0);" href="/stats/Latin/">
                            Analyze</a>
                        <a class="btn btn-nonbs select-btn" role="button" data-bs-hover-animate="pulse" style="background-color: rgb(29,162,255);" href="/stats/Latin/">
                            Compare</a>
                        <a class="btn btn-nonbs select-btn" role="button" data-bs-hover-animate="pulse" style="background-color: rgb(255,67,162);" href="/stats/Latin/">
                            Explore</a>
                    </div>
                </div>
                <div style="text-align:center;margin-top:40px;"><span class="step active"></span><span class="step"></span><span class="step"></span><span class="step"></span></div>
            </div>
          </div>
    </header>
</body>
{% endblock %}
