{% extends "stats-multiple-base.html" %}
{% block content %}
<!-- Style goes here -->
<style>
    .dropdown-container {
        position: relative;
        top: 100px;
        /* adjust as necessary */
    }

    .loader {
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .col-md-6 {
        background-color: rgba(0, 0, 0, 1);
        /* overflow: hidden; */
    }

    /* body {
        background-image: url('/assets/img/stats_background_2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* this will make the background fixed even when scrolling */

    .masthead {
    padding-top: 80px;  /* Adjust this value according to the height of your navbar */
}

</style>




<!-- HTML goes here -->

<body id="page-top" onload="handlePageLoad()">
    <header class="masthead"
        style="background-image: url('/assets/img/stats_background_2.jpg') ;background-size: cover;">
        <!--  -->
        <div class="container mt-5">
            <!-- Title Section Start -->
            <div class="title-section text-center">
                <h2>Stats: Compare</h2>
                <button id="add-text-btn" class="btn btn-primary">Add New Text</button>
                <button id="delete-text-btn" class="btn btn-danger">Delete Text</button>

                <!-- Add New Text Dropdowns & Submit Button -->
                <div id="add-new-dropdowns-container" style="display: none;">
                    <select class="form-control" id="new-dropdown1" onchange="updateDropdowns()">
                        <!-- Options go here -->
                        {% for key in texts_and_sections.keys() %}
                        <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" id="new-dropdown2">
                        <!-- Options go here -->
                    </select>
                    <select class="form-control" id="new-dropdown3">
                        <!-- Options go here -->
                    </select>
                    <button id="back-btn-1" class="btn btn-secondary">Back</button>
                    <button id="submit-btn" class="btn btn-success">Submit</button>
                </div>

                <!-- Delete Text Dropdowns & Submit Button -->
                <div id="delete-dropdowns-container" style="display: none;">
                    <select class="form-control" id="del-dropdown1">
                        <!-- Options go here -->
                        {% for name in textNames %}
                        <option value="{{ loop.index0 }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <button id="back-btn-2" class="btn btn-secondary" >Back</button>
                    <button id="del-submit-btn" class="btn btn-danger">Delete</button>
                </div>
            </div>
            <!-- Title Section End -->
            <div class="dropdown-container">

                <div class="row">

                    <div class="col-md-6">
                        <select class="form-control" id="dropdown1" onchange="updateData('dropdown1')">
                            {% for name in textNames %}
                            <option value="{{ loop.index0 }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <div class="loader" id="loader1" style="display: none;"></div>
                        <div id="column1" class="mt-5">

                            <!-- The metrics and plots for the first dropdown choice will be inserted here -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="dropdown2" onchange="updateData('dropdown2')">
                            {% for name in textNames %}
                            <option value="{{ loop.index0 }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <div class="loader" id="loader2" style="display: none;"></div>
                        <div id="column2" class="mt-5">

                            <!-- The metrics and plots for the second dropdown choice will be inserted here -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
</body>


{% block scripts %}
<!-- Scripts go here -->
<!-- updateData -->
<script>
    function updateData(dropdownId) {

        var selectElement = document.getElementById(dropdownId);
        var selectedIndex = selectElement.selectedIndex;
        var textName = selectElement.options[selectedIndex].text;

        // Get the current URL
        var currentUrl = window.location.href;

        // Extract the sections from the current URL
        var urlParts = currentUrl.split("/");
        console.log(urlParts)

        //extract starts and ends
        var sections = urlParts[urlParts.length - 3];//for some reason 3 is the right number
        var starts_and_ends = sections.split("-")
        console.log(starts_and_ends)
        var starts = starts_and_ends[0].split("+")
        var ends = starts_and_ends[1].split("+")

        //extract textname
        var text_names_raw = urlParts[urlParts.length - 4];
        var text_names = text_names_raw.split("+")
        var selected_text_filename = text_names[selectedIndex]

        var sectionStart = starts[selectedIndex];
        var sectionEnd = ends[selectedIndex];

        // Construct the URL for the GET request
        var url = "/stats/get_metrics/" + selected_text_filename + "/" + sectionStart + "-" + sectionEnd + "/" + selectedIndex;


        // Show the loader before starting the request
        var loaderElement;
        if (dropdownId === "dropdown1") {
            loaderElement = document.getElementById("loader1");
        } else if (dropdownId === "dropdown2") {
            loaderElement = document.getElementById("loader2");
        }
        loaderElement.style.display = "block";

        // Make the GET request and update the page with the received data
        fetch(url)
            .then(response => response.text())
            .then(data => {
                if (dropdownId === "dropdown1") {
                    document.getElementById("column1").innerHTML = data;
                } else if (dropdownId === "dropdown2") {
                    document.getElementById("column2").innerHTML = data;
                }
                // Hide the loader after the request is complete
                loaderElement.style.display = "none";
            });
    }
</script>
<!-- updateData for default selection -->
<script>
    function updateDataDefault(dropdownId) {
        var selectElement = document.getElementById(dropdownId);
        var selectedIndex;

        if (dropdownId === "dropdown1") {
            selectedIndex = 0; // default to the first option for dropdown1
        } else if (dropdownId === "dropdown2") {
            selectedIndex = 1; // default to the second option for dropdown2
        } else {
            selectedIndex = selectElement.selectedIndex; // keep this as a fallback
        }

        var textName = selectElement.options[selectedIndex].text;
        // var selectElement = document.getElementById(dropdownId);
        // var selectedIndex = selectElement.selectedIndex;
        // var textName = selectElement.options[selectedIndex].text;

        // Get the current URL
        var currentUrl = window.location.href;

        // Extract the sections from the current URL
        var urlParts = currentUrl.split("/");
        console.log(urlParts)

        //extract starts and ends
        var sections = urlParts[urlParts.length - 3];//for some reason 3 is the right number
        var starts_and_ends = sections.split("-")
        console.log(starts_and_ends)
        var starts = starts_and_ends[0].split("+")
        var ends = starts_and_ends[1].split("+")

        //extract textname
        var text_names_raw = urlParts[urlParts.length - 4];
        var text_names = text_names_raw.split("+")
        var selected_text_filename = text_names[selectedIndex]

        var sectionStart = starts[selectedIndex];
        var sectionEnd = ends[selectedIndex];

        // Construct the URL for the GET request
        var url = "/stats/get_metrics/" + selected_text_filename + "/" + sectionStart + "-" + sectionEnd + "/" + selectedIndex;


        // Show the loader before starting the request
        var loaderElement;
        if (dropdownId === "dropdown1") {
            loaderElement = document.getElementById("loader1");
        } else if (dropdownId === "dropdown2") {
            loaderElement = document.getElementById("loader2");
        }
        loaderElement.style.display = "block";

        // Make the GET request and update the page with the received data
        fetch(url)
            .then(response => response.text())
            .then(data => {
                if (dropdownId === "dropdown1") {
                    document.getElementById("column1").innerHTML = data;
                } else if (dropdownId === "dropdown2") {
                    document.getElementById("column2").innerHTML = data;
                }
                // Hide the loader after the request is complete
                loaderElement.style.display = "none";
            });
    }
</script>
<!-- Add New Text Button -->
<script>
    document.getElementById("add-text-btn").addEventListener("click", function () {
        // Hide 'Add New Text' button
        document.getElementById("add-text-btn").style.display = "none";

        // Hide 'Delete Text' button
        document.getElementById("delete-text-btn").style.display = "none";
        // Show dropdowns & submit button
        document.getElementById("add-new-dropdowns-container").style.display = "block";
    });
</script>

<!-- Delete Text Button -->
<script>
    document.getElementById("delete-text-btn").addEventListener("click", function () {
        // Hide 'Add New Text' button
        document.getElementById("add-text-btn").style.display = "none";
        // Hide 'Delete Text' button
        document.getElementById("delete-text-btn").style.display = "none";

        // Show dropdowns & submit button
        document.getElementById("delete-dropdowns-container").style.display = "block";
    });
</script>

<!-- Dropdowns 2, 3 for Add New Text -->
<script>

    var textsAndSections = {{ texts_and_sections| tojson | safe }};

    function updateDropdowns() {
        // Get the selected key from dropdown1
        var selectedKey = document.getElementById("new-dropdown1").value;
        console.log(selectedKey);
        // Get the corresponding object from textsAndSections dictionary
        var sectionObj = textsAndSections[selectedKey];

        // Convert the object to a list of section numbers
        var sections = Object.keys(sectionObj);


        // Get the corresponding value from textsAndSections dictionary
        // var sections = textsAndSections[selectedKey];

        console.log(sections)
        // Get references to dropdown2 and dropdown3
        var dropdown2 = document.getElementById("new-dropdown2");
        var dropdown3 = document.getElementById("new-dropdown3");

        // Clear existing options from dropdown2 and dropdown3
        dropdown2.innerHTML = '';
        dropdown3.innerHTML = '';

        // Populate dropdown2 and dropdown3 with sections
        sections.forEach(function (section) {
            var option2 = document.createElement("option");
            option2.text = section;
            option2.value = section;
            dropdown2.add(option2);

            var option3 = document.createElement("option");
            option3.text = section;
            option3.value = section;
            dropdown3.add(option3);
        });
    }
</script>

<!-- 'Add New Text' Submit button -->
<script>
    document.getElementById("submit-btn").addEventListener("click", function () {

        var textname = document.getElementById("new-dropdown1").value;
        var section_start = document.getElementById("new-dropdown2").value;
        var section_end = document.getElementById("new-dropdown3").value;

        // Get the current URL
        var currentUrl = window.location.href;

        // Extract the sections from the current URL
        var urlParts = currentUrl.split("/");
        console.log(urlParts)

        //extract starts and ends
        var sections = urlParts[urlParts.length - 3];//for some reason 3 is the right number
        var starts_and_ends = sections.split("-")
        console.log(starts_and_ends)
        var starts = starts_and_ends[0].split("+")
        var ends = starts_and_ends[1].split("+")

        //extract text names
        var text_names_raw = urlParts[urlParts.length - 4];
        var text_names = text_names_raw.split("+")

        //add new selected text, starts, ends to array
        text_names.push(textname)
        starts.push(section_start)
        ends.push(section_end)

        //put text_names, starts, ends back into proper string URL format
        textnames_url = ""
        starts_url = ""
        ends_url = ""

        for (var i = 0; i < text_names.length; i++) {
            if (i != text_names.length - 1) {
                textnames_url += (text_names[i] + "+")
            }
            else {
                textnames_url += text_names[i]
            }
        }
        for (var i = 0; i < starts.length; i++) {
            if (i != starts.length - 1) {
                starts_url += (starts[i] + "+")
            }
            else {
                starts_url += starts[i]
            }
        }
        for (var i = 0; i < ends.length; i++) {
            if (i != ends.length - 1) {
                ends_url += (ends[i] + "+")
            }
            else {
                ends_url += ends[i]
            }
        }

        // Construct the URL for the GET request
        var url = "/stats/Latin/result/" + textnames_url + "/" + starts_url + "-" + ends_url + "/non_running"

        //redirect to the URL
        window.location.href = url
    });
</script>

<!-- 'Delete Text' Submit button -->
<script>
    document.getElementById("del-submit-btn").addEventListener("click", function () {

        var selectElement = document.getElementById("del-dropdown1");
        var selectedIndex = selectElement.selectedIndex;

        var textname = document.getElementById("del-dropdown1").value;


        // Get the current URL
        var currentUrl = window.location.href;

        // Extract the sections from the current URL
        var urlParts = currentUrl.split("/");
        console.log(urlParts)

        //extract starts and ends
        var sections = urlParts[urlParts.length - 3];//for some reason 3 is the right number
        var starts_and_ends = sections.split("-")
        console.log(starts_and_ends)
        var starts = starts_and_ends[0].split("+")
        var ends = starts_and_ends[1].split("+")

        //extract text names
        var text_names_raw = urlParts[urlParts.length - 4];
        var text_names = text_names_raw.split("+")

        //add new selected text, starts, ends to array
        text_names.splice(selectedIndex, 1)
        starts.splice(selectedIndex, 1)
        ends.push(selectedIndex, 1)

        //put text_names, starts, ends back into proper string URL format
        textnames_url = ""
        starts_url = ""
        ends_url = ""

        for (var i = 0; i < text_names.length; i++) {
            if (i != text_names.length - 1) {
                textnames_url += (text_names[i] + "+")
            }
            else {
                textnames_url += text_names[i]
            }
        }
        for (var i = 0; i < starts.length; i++) {
            if (i != starts.length - 1) {
                starts_url += (starts[i] + "+")
            }
            else {
                starts_url += starts[i]
            }
        }
        for (var i = 0; i < ends.length; i++) {
            if (i != ends.length - 1) {
                ends_url += (ends[i] + "+")
            }
            else {
                ends_url += ends[i]
            }
        }

        // Construct the URL for the GET request
        var url = "/stats/Latin/result/" + textnames_url + "/" + starts_url + "-" + ends_url + "/non_running"

        //redirect to the URL
        window.location.href = url
    });
</script>

<!-- Back buttons -->
<script>
    document.getElementById("back-btn-1").addEventListener("click", function () {
        // Show 'Add New Text' button
        document.getElementById("add-text-btn").style.display = "flex";

        // Show 'Delete Text' button
        document.getElementById("delete-text-btn").style.display = "flex";

        // Hide dropdowns & submit button
        document.getElementById("add-new-dropdowns-container").style.display = "none";
        //document.getElementById("delete-dropdowns-container").style.display = "none";

    });
</script>
<script>
    document.getElementById("back-btn-2").addEventListener("click", function () {
        // Show 'Add New Text' button
        document.getElementById("add-text-btn").style.display = "flex";

        // Show 'Delete Text' button
        document.getElementById("delete-text-btn").style.display = "flex";

        // Hide dropdowns & submit button
        //document.getElementById("add-new-dropdowns-container").style.display = "none";
        document.getElementById("delete-dropdowns-container").style.display = "none";

    });
</script>
<!-- Default Selections on Page Load -->
<script>
    function handlePageLoad() {
        updateDataDefault('dropdown1');
        updateDataDefault('dropdown2');
        updateDropdowns()


    }


</script>


{% endblock %}
{% endblock %}